* {
  overflow-y: hidden;
  overflow-x: hidden;
  background-color: rgb(255, 255, 255);
}
#pic {
  position: absolute;
  height: 668px;
  left: 1060px;
  top: -3px;
}
#logo {
  width: 150px;
  height: 140px;
  position: absolute;
  top: 0px;
  left: 0px;
}
#wave1 {
  width: 1060px;
  position: absolute;
  top: 534px;
  left: -3px;
}
#wave2 {
  position: absolute;
  left: 150px;
  top: -2px;
  width: 910px;
}
#dash1 {
  position: absolute;
  top: 200px;
  left: 100px;
}

.button {
  background-color: #4caf50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button2 {
  left: 189px;
  background-color: #d77212;
  position: absolute;
  top: 367px;
  color: black;
  font-weight: bold;
} 
.button3 {
  left: 454px;
  background-color: #d77212;
  position: absolute;
  top: 361px;
  color: black;
  font-weight: bold;
  width: 111px;
}
.button4 {
  left: 734px;
  background-color: #d77212;
  position: absolute;
  top: 358px;
  color: black;
  font-weight: bold;
  width: 111px;
}
